USE [NGANHANG]
GO
/****** Object:  StoredProcedure [dbo].[sp_InfoSOTK]    Script Date: 5/22/2022 10:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_InfoSOTK]
  @SOTK NCHAR(9)
AS
 DECLARE 
 @CMND NCHAR(10), 
 @HO nvarchar(40), 
 @TEN nvarchar(10), 
 @SODU MONEY,

 @MACN NCHAR(10),
 @MACNHT NCHAR(10)
 IF exists(select SOTK from  dbo.TAIKHOAN  where SOTK = @SOTK)
 BEGIN
	SELECT @CMND = CMND , @SODU = SODU FROM   dbo.TAIKHOAN WHERE SOTK = @SOTK
	-- CO CMDC VA SODU --
	IF EXISTS(SELECT 1 FROM DBO.KhachHang WHERE CMND = @CMND)
	BEGIN 
		SELECT SOTK = @SOTK,SODU=@SODU,CMND,HO,TEN FROM  DBO.KhachHang WHERE CMND = @CMND
	END
	ELSE IF EXISTS (SELECT CMND FROM LINK.NGANHANG.DBO.KHACHHANG WHERE CMND = @CMND)
	BEGIN
		SELECT SOTK=@SOTK, SODU=@SODU, CMND, HO, TEN
   		FROM LINK.NGANHANG.DBO.KHACHHANG WHERE CMND = @CMND
	END
	ELSE 
	BEGIN
		raiserror ('SOTK KHONG CO CMND PHU HOP', 16, 1)
		RETURN -1
	END
 END
 ELSE  -- không có TK
     raiserror ( 'SOTK không tồn tại', 16, 1)
GO
