USE [NGANHANG]
GO
/****** Object:  StoredProcedure [dbo].[sp_RutTien]    Script Date: 5/22/2022 10:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_RutTien] @SOTK NCHAR(9), @SOTIEN MONEY, @MANV NCHAR(10)
AS

SET XACT_ABORT ON
BEGIN TRANSACTION
	BEGIN TRY
		INSERT INTO GD_GOIRUT (LOAIGD, SOTK, SOTIEN, MANV)
		VALUES ('RT', @SOTK, @SOTIEN, @MANV)
		EXEC sp_CalSODU @SOTK, @SOTIEN, 'GIAM'
		COMMIT
	END TRY

	BEGIN CATCH
		raiserror('SO TIỀN Phải LỚN hơn hoặc bằng 100.000đ',16,1)
	   ROLLBACK
	END CATCH

-- EXEC [dbo].[sp_RutTien] '000000102', 200000,'NV2'
GO
