USE [NGANHANG]
GO
/****** Object:  StoredProcedure [dbo].[sp_CalSODU]    Script Date: 5/22/2022 10:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_CalSODU] @SOTK NCHAR(9), @SOTIEN MONEY, @TYPE NCHAR(10)
AS
BEGIN
	DECLARE @SODU MONEY
	SELECT @SODU=SODU FROM DBO.TAIKHOAN WHERE SOTK = @SOTK
	IF(@TYPE = 'TANG')
	BEGIN
		SET @SODU = @SODU + @SOTIEN
		UPDATE DBO.TAIKHOAN SET SODU = @SODU WHERE SOTK = @SOTK
	END
	ELSE IF(@TYPE = 'GIAM')
	BEGIN
		IF(@SODU > @SOTIEN)
		BEGIN
			SET @SODU = @SODU - @SOTIEN
			UPDATE DBO.TAIKHOAN SET SODU = @SODU WHERE SOTK = @SOTK
		END
		ELSE raiserror ( 'SODU không đủ', 16, 1)
	END
END
GO
