USE [NGANHANG]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoGiaoDich]    Script Date: 5/22/2022 10:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BaoCaoGiaoDich] @SOTK NCHAR(9), 
@TUNGAY DATE, 
@DENNGAY DATE, 
@Permissions NCHAR(10)

AS 

BEGIN 
	SET NOCOUNT ON

	DECLARE @SODUBATDAU MONEY
	DECLARE @TONGTIENGDCT MONEY
	DECLARE @TONGTIENGDGR MONEY

	-- TỔNG TIỀN TRONG GD CHUYỂN TIỀN CỦA 1 TÀI KHOẢN 
	IF EXISTS(SELECT * FROM tempdb.sys.tables		
		WHERE name LIKE '#GDChuyenTienTemp1%') DROP TABLE #GDChuyenTienTemp1

	SELECT * INTO #GDChuyenTienTemp1
	FROM (SELECT * FROM LINK.NGANHANG.dbo.GD_CHUYENTIEN
		  UNION ALL
		  SELECT * FROM GD_CHUYENTIEN) AS GDCT
	WHERE GDCT.NGAYGD BETWEEN (SELECT NGAYMOTK FROM DBO.TAIKHOAN WHERE SOTK = @SOTK) AND @TUNGAY

	SELECT @TONGTIENGDCT = SUM(SOTIEN)
	FROM (
		SELECT SOTIEN = -SOTIEN FROM #GDChuyenTienTemp1 WHERE SOTK_CHUYEN = @SOTK
		UNION ALL
		SELECT SOTIEN FROM #GDChuyenTienTemp1 WHERE SOTK_NHAN= @SOTK
	) AS TONGTIEN1


	-- TỔNG TIỀN TRONG GD GỬI RÚT CỦA 1 TÀI KHOẢN 
	IF EXISTS(SELECT * FROM tempdb.sys.tables		
		WHERE name LIKE '#GDChuyenTienTemp2%') DROP TABLE #GDChuyenTienTemp2
	SELECT * INTO #GDChuyenTienTemp2
	FROM (SELECT * FROM LINK.NGANHANG.dbo.GD_GOIRUT
		UNION ALL
		SELECT * FROM GD_GOIRUT) AS GDGR
	WHERE GDGR.NGAYGD BETWEEN (SELECT NGAYMOTK FROM DBO.TAIKHOAN WHERE SOTK = @SOTK) AND @TUNGAY
	SELECT @TONGTIENGDGR = SUM(SOTIEN)
	FROM (
		SELECT SOTIEN = -SOTIEN FROM #GDChuyenTienTemp2 WHERE SOTK = @SOTK AND LOAIGD = 'RT'
		UNION ALL
		SELECT SOTIEN FROM #GDChuyenTienTemp2 WHERE SOTK = @SOTK AND LOAIGD = 'GT'
	) AS TONGTIEN2

	
	-- SỐ DƯ CỦA 1 TÀI KHOẢN TRƯỚC NGÀY @TUNGAY
	
	IF(@TONGTIENGDCT IS NULL) SET @TONGTIENGDCT = 0.00
	IF(@TONGTIENGDGR IS NULL) SET @TONGTIENGDGR = 0.00
		
	SET @SODUBATDAU = @TONGTIENGDCT + @TONGTIENGDGR

	IF(@Permissions = 'NGANHANG')
	BEGIN
		--Vì name của bảng tạm SQL sẽ định danh lại tên bảng tạm(tên user đặt + physical address)
		--nên nếu dùng OBJECT_ID sẽ không tìm được nên ở đây ta dùng LIKE và %(bỏ qua hậu tố physical address)
		IF EXISTS(SELECT * FROM tempdb.sys.tables WHERE name LIKE '#GDChuyenTienAll%') DROP TABLE #GDChuyenTienAll
		SELECT GDCT.NGAYGD, GDCT.SOTIEN, LOAIGD = 'CT' INTO #GDChuyenTienAll
		FROM (SELECT * FROM GD_CHUYENTIEN  WHERE SOTK_CHUYEN = @SOTK
			  UNION ALL
			  SELECT * FROM  LINK.NGANHANG.dbo.GD_CHUYENTIEN 
		 WHERE SOTK_CHUYEN = @SOTK) AS GDCT
		WHERE GDCT.NGAYGD BETWEEN @TUNGAY AND @DENNGAY

		IF EXISTS(SELECT * FROM tempdb.sys.tables WHERE name LIKE '#GDNhanTienAll%') DROP TABLE #GDNhanTienAll
		SELECT GDNT.NGAYGD, GDNT.SOTIEN, LOAIGD = 'NT' INTO #GDNhanTienAll
		FROM (SELECT NGAYGD, SOTIEN FROM LINK.NGANHANG.dbo.GD_CHUYENTIEN WHERE SOTK_NHAN = @SOTK
		UNION ALL
		 SELECT  NGAYGD, SOTIEN FROM GD_CHUYENTIEN
		 WHERE SOTK_NHAN = @SOTK) AS GDNT
		WHERE GDNT.NGAYGD BETWEEN @TUNGAY AND @DENNGAY

		IF EXISTS(SELECT * FROM tempdb.sys.tables WHERE name LIKE '#GDGuiRutAll%') DROP TABLE #GDGuiRutAll
		SELECT GDGR.NGAYGD, GDGR.SOTIEN, GDGR.LOAIGD INTO #GDGuiRutAll
		FROM (SELECT NGAYGD, SOTIEN, LOAIGD FROM LINK.NGANHANG.dbo.GD_GOIRUT WHERE SOTK = @SOTK
				UNION ALL
			SELECT NGAYGD, SOTIEN, LOAIGD FROM GD_GOIRUT
		 WHERE SOTK = @SOTK) AS GDGR
		WHERE GDGR.NGAYGD BETWEEN @TUNGAY AND @DENNGAY

		IF EXISTS(SELECT * FROM tempdb.sys.tables WHERE name LIKE '#BangSaoKe%') DROP TABLE #BangSaoKe
		SELECT * INTO #BangSaoKe
		FROM ( 
				SELECT * FROM #GDChuyenTienAll 
				UNION
				SELECT * FROM #GDNhanTienAll 
				UNION
				SELECT * FROM #GDGuiRutAll
			 ) AS GD

		ALTER TABLE #BangSaoKe
		ADD SODUDAU MONEY, SODUSAU MONEY, TENGD NVARCHAR(20), STT INT IDENTITY(1,1);

		-- BANG SAO KE
		DECLARE cursorSaoKe CURSOR FOR

		SELECT * FROM #BangSaoKe
		OPEN cursorSaoKe

		DECLARE @SODUDAU MONEY 
		DECLARE @SODUSAU MONEY 
		DECLARE @TENGD NVARCHAR(20)
		DECLARE @NGAYGD DATE
		DECLARE @SOTIENGD MONEY 
		DECLARE @LOAIGD NCHAR(2)
		DECLARE @STT INT


		FETCH NEXT FROM cursorSaoKe INTO @NGAYGD, @SOTIENGD, @LOAIGD, @SODUDAU, @SODUSAU, @TENGD, @STT
		SET @SODUDAU = @SODUBATDAU

		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF(@LOAIGD = 'CT')
				BEGIN
					SET @SODUSAU = @SODUDAU - @SOTIENGD
					SET @TENGD = N'Chuyển tiền'
				END
			ELSE IF(@LOAIGD = 'RT')
				BEGIN
					SET @SODUSAU = @SODUDAU - @SOTIENGD
					SET @TENGD = N'Rút tiền'
				END
			ELSE IF(@LOAIGD = 'GT')
				BEGIN
					SET @SODUSAU = @SODUDAU + @SOTIENGD
					SET @TENGD = N'Gửi tiền'
				END
			ELSE IF(@LOAIGD = 'NT')
				BEGIN
					SET @SODUSAU = @SODUDAU + @SOTIENGD
					SET @TENGD = N'Nhận tiền'
				END

				
			UPDATE DBO.#BangSaoKe SET SODUDAU = @SODUDAU, SODUSAU = @SODUSAU, TENGD = @TENGD WHERE STT = @STT
			SET @SODUBATDAU = @SODUSAU

			FETCH NEXT FROM cursorSaoKe INTO @NGAYGD, @SOTIENGD, @LOAIGD, @SODUDAU, @SODUSAU, @TENGD, @STT
			SET @SODUDAU = @SODUBATDAU
		END

		CLOSE cursorSaoKe              -- Đóng Cursor
		DEALLOCATE cursorSaoKe         -- Giải phóng tài nguyên

		SELECT SODUDAU, NGAYGD, TENGD, SOTIEN, SODUSAU FROM #BangSaoKe
	END
END

-- EXEC [dbo].[sp_BaoCaoGiaoDich] '9999900', '2022-05-17', '2022-05-19', 'NGANHANG'
GO
